@use "colors";
@use "fonts";

.attribution {
  margin: 0;

  font-family: fonts.$shareTechMono;
  text-align: center;
  color: colors.$red;
}

.attribution__link {
  display: block;
  text-decoration: none;
  color: colors.$prussianBlue;
}
