.clock {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.clock__settings {
  display: flex;
  margin-bottom: 32px;
}

.clock__break-setting {
  margin-right: 32px;
}

.clock__display {
  margin-bottom: 32px;
}

.clock__controls {
  display: flex;
}

.clock__play-pause-button {
  margin-right: 8px;
}
