.setting {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.setting__title {
  text-align: center;
}

.setting__controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.setting__value {
  width: 4ch;
  text-align: center;
}
